@model IEnumerable<MvcStorage.Models.Alumno>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="post">
    <label>Introduzca curso</label>
    <input type="text" name="curso" class="form-control" />
    <button type="submit" class="btn btn-info">
        Buscar alumnos
    </button>
</form>
@if (Model != null)
{
    <table class="table table-info">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdAlumno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Curso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nota)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PartitionKey)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RowKey)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Timestamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ETag)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdAlumno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Curso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PartitionKey)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RowKey)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Timestamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ETag)
                    </td>
                </tr>
            }
        </tbody>
    </table>

}